{% extends "base_generic.html" %}

{% block title %}
<title>Profile Update</title>
{% endblock %}

{% block page_header %}
<h1>{{ user }}</h1>
{% endblock %}

{% block content %}
    <h3>Update Profile:</h3>
    {% if group == "driver" %}
    <p class="text-danger">Updating anything other than email and phone number will require admin verification</p>
    {% endif %}
    <form action="." method="post" class="padding">
        {% csrf_token %}
        {{ noodle_form.email.errors }}
        <p title="{{ noodle_form.email.help_text }}">
            <strong>{{ noodle_form.email.label_tag }}</strong>
            {{ noodle_form.email }}
        </p>

        <hr>
        {% if group == "officer" %}
            {{ formset.management_form }}
            {% for form in formset %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {{ form.rank.errors }}
                <p title="{{ form.rank.help_text }}">
                    <strong>{{ form.rank.label_tag }}</strong>
                    {{ form.rank }}</p>

                <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
                <p><strong>First Name:</strong> {{ profile.first_name }}</p>
                <hr>

                {{ form.region.errors }}
                <p title="{{ form.region.help_text }}">
                    <strong>{{ form.region.label_tag }}</strong>
                    {{ form.region }}</p>

                {{ form.unit.errors }}
                <p title="{{ form.unit.help_text }}">
                    <strong>{{ form.unit.label_tag }}</strong>
                    {{ form.unit }}</p>

                <p><strong>Badge Number:</strong> {{ profile.badge_num }}</p>
                <p><strong>ID Number:</strong> {{ profile.id_num }}</p>
                <p class="{% if profile.verified %}text-success{% else %}text-danger{% endif %}">
                    <strong>Verified:</strong> {{ profile.verified }}</p>
            {% endfor %}

        {% elif group == "driver" %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {{ form.last_name.errors }}
                <p title="{{ form.last_name.help_text }}">
                    <strong>{{ form.last_name.label_tag }}</strong>
                    {{ form.last_name }}</p>

                {{ form.first_name.errors }}
                <p title="{{ form.first_name.help_text }}">
                    <strong>{{ form.first_name.label_tag }}</strong>
                    {{ form.first_name }}</p>

                <p><strong>Date of Birth:</strong> {{ profile.dob }}</p>

                {{ form.phone_num.errors }}
                <p title="{{ form.phone_num.help_text }}">
                    <strong><label for="{{ form.phone_num.id_for_label }}">Phone Number:</label></strong>
                    {{ form.phone_num }}</p>

                {{ form.country.errors }}
                <p title="{{ form.country.help_text }}">
                    <strong>{{ form.country.label_tag }}</strong>
                    {{ form.country }}</p>

                {{ form.state.errors }}
                <p title="{{ form.state.help_text }}">
                    <strong>{{ form.state.label_tag }}</strong>
                    {{ form.state }}</p>

                {{ form.license_num.errors }}
                <p title="{{ form.license_num.help_text }}">
                    <strong><label for="{{ form.license_num.id_for_label }}">License Number:</label></strong>
                    {{ form.license_num }}</p>

                {{ form.license_expiry.errors }}
                <p class="{% if profile.is_expired %}text-danger{% else %}text-success{% endif %}" title="{{ form.license_expiry.help_text }}">
                    <strong><label for="{{ form.license_expiry.id_for_label }}">License Expiration Date (YYYY-MM-DD):</label></strong>
                    {{ form.license_expiry }}</p>

                <p class="{% if profile.verified %}text-success{% else %}text-danger{% endif %}">
                    <strong>Verified:</strong> {{ profile.verified }}</p>
                <!--car-->
                <div style="margin-left:10px; margin-top:10px">
                    <hr>
                    <h4>Cars</h4>
                    {% for drivers_car in profile.car_set.all %}
                    <p><a href="{{ drivers_car.get_absolute_url }}">{{drivers_car}}</a></p>
                    {% endfor %}
                </div>

                <!--insurance-->
                <div style="margin-left:10px; margin-top:10px">
                    <hr>
                    <h4>Insurance</h4>
                    {% for drivers_insurance in profile.insurance_set.all %}
                    <p><a href="{{ drivers_insurance.get_absolute_url }}">{{ drivers_insurance }}</a></p>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}


        <button type="submit", class="btn btn-primary">Update</button>
    </form>
{% endblock %}

