{% extends "base_generic.html" %}

{$ block title %}
<title>Sign Up</title>
{$ endblock %}

{% block page_header %}
<h1>Sign Up</h1>
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Please Enter Information Below to Sign Up.</h1>
    <form class = "form-signup" method="post">
        {% csrf_token %}
        <table>
            {% for field in form %}
            <tr title="{{ field.help_text }}">
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button></td>
            </tr>
        </table>
    </form>
{% endblock %}